# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# XMLs
/*.xml
# IML
/*.iml
# sonar
/sonarlint/
/sonarlint/issuestore/
# IntelliJ files
/.idea/